//imports and modules
@import "settings", "modules", "fonts", "mixing";

$orange: #F38923;
$gray-top-bar: #8B9293;
$gray:          #666666;
$color-label:   #9f9f9f;

//general styles
@media #{$small-up} {
    body{
       .datepicker td.active.day {
            background: #F38923 none repeat scroll 0% 0% !important;
        }
        /*************
        Top-Bar
        **************/
        nav {
            background: #fff !important;
            .title-area {
                background: #fff !important;
                .name {
                    padding: 2px 0px 0px 10px;
                }
                .toggle-topbar.menu-icon {
                    a {
                        color: #fff !important;
                        span::after {
                            box-shadow: 0px 0px 0px 1px #8B9293, 0px 7px 0px 1px #8B9293, 0px 14px 0px 1px #8B9293;
                        }
                    }
                }
            }
            .left,.right {
                li {
                    border-left: 2px solid #fff;
                    background: #fff;
                    a {
                        color: $gray-top-bar !important;
                        font-family: "Lato",sans-serif;
                        background: #fff !important;
                        &:hover {
                            color: #000 !important;
                        }
                    }
                }
            }
            .left {
                li {
                    &:hover {
                        border-color: $orange;
                    }
                    &.active {
                        border-left: 2px solid $orange !important;
                        a {
                            color: #000 !important;
                        }
                    }
                }
            }
            .right {
                li {
                    margin-left: 0px;
                    a:hover {
                        color: #000 !important;
                    }
                }
            }
        }
        .panel {
            background: #fff !important;
            border: none;
        }
        /*************
            Projects
        **************/
        .panel-projects,
        .panel-project,
        .panel-dashboard,
        .panel-users {
            background: #fff !important;
            padding: 0px !important;
            border: 0px !important;
            margin-top: 40px;
        }

        .panel-projects {
            .add-project {
                padding: 6px 15px;
            }
            .project {
                border: 1px solid #D8D8D8;
                margin-bottom: 1.25rem;
                padding: 0px 15px 15px 15px;
                background: #fff;
                .head-project {
                    background: $orange;
                    padding-top: 5px;
                    margin: 0px -1.05rem !important;
                    h3,h6 {
                        font-family: "Lato",sans-serif;
                        color: #fff !important;
                        font-weight: 700;
                    }
                    h3:hover {
                        color: #000 !important;
                    }

                    .progress-project {
                        margin-top: 7px;
                        span {
                            color: #000;
                        }
                    }
                }
                .info-project {
                    margin-top: 10px;
                }
                .options-project {
                    margin-top: 10px;
                    .delete-project {
                        margin-left: 15px;
                    }
                }
                h5,li {
                    font-family: "Lato",sans-serif;
                    font-weight: 700;
                    font-size: 0.875rem;
                    span {
                        font-weight: 400;
                    }
                }
                li {
                    font-weight: 400;
                }
                .contacts {
                    li {
                        list-style: none;
                    }
                }
            }
        }

        form {


            .file-upload_patterns{
                border-bottom: 1px #EAE9E9 solid !important;
            }

            #btn_cancel_add_file{
                display: none;
            }

            .file-upload {
                .drag_button{
                    background: url("/theme/img/drag.gif") center center;
                    width: 30px;
                    height: 125px;
                    margin: 0 0 0 0.5rem;
                    cursor: hand;
                }

                .logo_content{
                    //width: calc(30% - 40px) !important;*/
                }

                .inputs_content{
                    //width: 71.3% !important;
                }

                min-height: 46px;

                .button.upload {
                    width: 100%;
                    margin-left: -1px;
                    margin-top: 5px;
                    cursor: pointer !important;
                    line-height: 0.1 !important;
                    i {
                        padding-right: 5px;
                    }
                }
                .button.button-link {
                    padding: 0px !important;
                    text-decoration: underline;
                    background: none !important;
                    text-transform: none !important;
                    color: $gray;
                    &:hover {
                        color: #000;
                    }
                }
                .js-upload, .js-upload[disabled] {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0;
                    opacity: 0;
                    -ms-filter: 'alpha(opacity=0)';
                    font-size: 1.125rem;
                    direction: ltr;
                    cursor: pointer;
                }
                .file-upload-input {
                    a.js-confirm {
                        background-color: #fff;
                        height: 30px;
                        position: absolute;
                        right: 0.5rem;
                        top: 0px;
                        width: 30px;
                        line-height: 0px;
                        i {
                            margin-top: 8px;
                            color: $gray;
                        }
                    }
                }
                .text_namefile{
                    font-size: 0.875rem !important;
                }
                .file-upload-link_patterns{
                    margin-top: -4px;
                    a {
                        font-size: 0.875rem !important;
                        &.js-confirm {
                            color: #999;
                            margin-left: 20px;
                            &:hover {
                                color: $gray;
                            }
                        }
                    }
                }
                .file-upload-link {
                    margin-top: -4px;
                    a {
                        font-size: 0.875rem !important;
                        &.js-confirm {
                            color: #999;
                            margin-left: 20px;
                            &:hover {
                                color: $gray;
                            }
                        }
                    }
                }
                .file-upload-button {
                    margin-top: -10px;
                    .columns{
                        min-width: 100px !important;
                    }
                }

                div.th {
                    &.th-logo {
                        height: 125px;
                        max-height: 125px;
                        line-height: 110px;
                        width: 100%;
                        img {
                            line-height: 125px;
                            max-height: 117px;
                        }
                    }
                }
            }



        }
        /*******************
        FIN FORM
        *******************/
        .no-active {
            pointer-events: none !important;
            cursor: default !important;
            color:$gray-top-bar !important;
            i {
                color:$gray-top-bar !important;
            }
        }

        .panel-project {
            .tabs {
                li {
                    a {
                        font-family: Lato,sans-serif;
                        font-weight: 700;
                        color: #333;
                    }
                    &.active {
                        a {
                            background-color: $orange !important;
                            color: #fff !important;
                        }
                    }
                }
                .tab-title {
                    min-width: auto;
                    a {
                        background-color: #fff !important;
                        color: $orange !important;
                    }
                    &:hover a {
                        background-color: $orange !important;
                        color: #fff !important;
                    }
                }
            }
            .tabs-content {
                .small-block-grid-1 {
                    li {
                        padding-bottom: 0px  !important;
                    }
                }
                h5 {
                    color: $orange;
                }
                label {
                    color: #000 !important ;
                }
                .check-container {
                    label {
                        font-weight: 400;
                        &:hover {
                            color: $orange !important;
                        }
                        span {
                            color: $gray-top-bar;
                        }
                    }
                }
                .client {
                    margin-bottom: 30px;
                    .box-info {
                        border: 1px solid #ECECEC;
                        border-bottom: 2px solid #ccc;
                        border-top: 3px solid $orange;
                        padding: 15px;
                        h3 {
                            margin-bottom: 15px;
                            color: $orange;
                        }
                        h5  {
                            margin-bottom: 10px;
                            font-weight: 700;
                            font-size: 1rem;
                            color: #333;
                        }
                        span {
                            font-weight: 400;
                        }
                    }
                }
                .add-server {
                    margin-bottom: 15px;
                }
            }
        }

        .panel-users {
            .header-users {
                margin-bottom: 30px;
            }
            .user {
                margin-bottom: 20px;
                h4 {
                    font-family: Lato,sans-serif;
                }
                h5 {
                    margin-bottom: 0px;
                    color: $orange;
                    &.user-inactive {
                        color: #DAA674;
                    }
                }
                .photo {
                    border-bottom: 3px solid $orange;
                    padding: 0px;
                }
                a:active,a:focus {
                    color: #000;
                }
                .edit-user {
                    margin-right: 15px;

                }
            }
            .client {
                margin-bottom: 30px;
                .box-info {
                    border: 1px solid #ECECEC;
                    border-bottom: 2px solid #ccc;
                    border-top: 3px solid $orange;
                    padding: 15px;
                    h3 {
                        color: $orange;
                    }
                    h5  {
                        margin-bottom: 10px;
                        font-weight: 700;
                        font-size: 1rem;
                        color: #333;
                    }
                    span {
                        font-weight: 400;
                    }
                }
            }
        }

        .reveal-modal {
            border-top: 3px solid $orange;
            h4 {
                font-family: Lato,sans-serif;
                font-weight: 700;
                color: $orange;
            }
            li {
                padding-bottom: 0px;
            }
            button {
                margin: 15px 0px 0px 0px;
            }
            label {
                color: #000;
            }
        }

        a {
            font-family: "Lato",sans-serif;
            color: #000;
            .fa {
                color: $orange;
            }
            &:hover,
                &:focus {
                color: $orange;
                .fa {
                    color: #000;
                }
            }
        }

        h3,h5,label,input {
            font-family: Lato,sans-serif !important;
            font-weight: 700;
        }
        input {
            font-weight: 400;
        }

        button {
            background-color: $orange !important;
        }

        .check-container {
            margin-bottom: 15px;
            padding-bottom: 0px;
            input[type="checkbox"] {
                display: none;
            }
            label {
                margin-left: 30px;
                &:before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: 15px;
                    bottombottom: 1px;
                    border: 1px solid #CCCCCC;
                    box-shadow: inset 0px 2px 3px 0px rgba(255, 255, 255, 0.7), 0px 1px 0px 0px rgba(255, 255, 255, .8);
                }
            }
            input[type="checkbox"]:checked + label:before {
                content: "\2713";
                text-shadow: 1px 1px 1px rgba(100, 13, 32, .3);
                font-size: 20px;
                color: $orange;
                text-align: center;
                line-height: 17px;
            }
        }

        .select-m {
            height: 100%;
            background-image: none !important;
        }
    }
}

@media #{$medium-up} {
    body {

        /*************
            Top-Bar
        **************/
        nav {
            height: 60px !important;
            border-bottom: 1px solid #D8D8D8;
            .title-area {
                .name {
                    padding: 10px 0px 0px 50px;
                }
                .toggle-topbar.menu-icon {
                    padding-top: 5px;
                }
            }
            .left,.right {
                li {
                    border-top: 2px solid #fff;
                    background: #fff;
                    padding-top: 5px;
                }
            }
            .left {
                margin-left: 50px;
                li {
                    border-left: 0px;
                    &.active {
                        border-top: 2px solid $orange;
                        border-left: 0px !important;
                        a  {
                            color: #000 !important;
                        }
                    }
                }
            }
        }

        .panel-project {
            .tabs {
                .tab-title {
                    min-width: auto !important;
                }
            }
        }

        .panel-projects {
            .project {
                .options-project {
                    margin-top: 0px;
                }
            }
        }

    }
}

@media #{$large-up} {
    body {

    }
}
