/**
 * ONLY DASHBOARD FILE
 */

//imports and modules
@import "settings", "modules", "fonts";

//general styles and utility
@import "mixing";

$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;

$blue:          #016a96;
$orange: #F38923;
$cyan:          #00BFD0;
$gray:          #666666;
$green:         #00DD69;
$color-label:   #9f9f9f;



.underline {
    text-decoration: underline;
}

.fa-pd-right {
    padding-right: 5px;
}

.text-italic {
    font-style: italic;
}

//Custos style
@media #{$small-up} {

    body {
        background: #fff;
        font-family: $lato;
        width: 100%;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        min-width: 551px !important;

        a, .button, select {
            outline: none !important;
        }
    }

    body.login {
        background: url('/theme/img/bg.gif') repeat #eef0e9;
        color: #696969;
        h3 {
            font-family: $lato;
        }
        .login-wrapper {
            margin-top: 40px;
            .logo {
                margin-top: 40px;
                margin-bottom: 20px;
                text-align: center;
            }
            .login-box{
                background-color: #fff;
                box-shadow: 0 0 3px #ccc;
                padding: 30px 20px 5px 20px;
                min-height: 250px;
                margin-bottom: 80px;
                border-radius:  3px;
                .button {
                    font-family: $lato;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    background: $orange;
                    padding: 0.575rem 1.75rem 0.6375rem;
                    &:hover, &:active, &:focus {
                        background: $orange;
                    }
                }
            }
        }
    }

    body {

        /************
        View Content
        ************/
        .info-content {
            padding: 40px 0 20px;
            background-color: #fff;
            background-position: center top;
            background-repeat: no-repeat;
            padding: 40px 0 20px;

        }

        /**************
        Header Content
        **************/
        .panel-content {
            //background: url('/theme/img/bg.gif') repeat #eef0e9;
            background: #00BFD0;
            padding: 25px 0px 0px;
            min-height: 152px;
            .panel {
                text-align: center;
                background: none !important;
                border: 0px;
                padding: 0.875rem;
                padding-bottom: 0;
                //margin-left: 0.5rem;
                //margin-right: 0.5rem;
                h1 {
                    a {
                        font-family: $oswald;
                        color: $blue;
                        font-weight: bold
                    }
                }
                h5 {
                    font-family: $lato;
                    text-transform: capitalize;
                    font-size: 0.675rem;
                    color: $blue;
                    font-weight: bold;
                    margin-bottom: 0px;
                }
                i {
                    display: none;
                    color: $cyan;
                    position: relative;
                    bottom: -7px;
                }
                &.active {
                    background: #fff !important;
                    i {
                        display: inline-block;
                    }
                }
            }

            .panel-add-event {
                background: none !important;
                margin-top: 26px;
                a {
                    font-family: $lato;
                    font-size: 0.875rem;
                    font-weight: bold;
                    background: $blue;
                    padding: 0.675rem 1.75rem 0.7375rem;
                    min-width: 135px;
                    &:hover, &:active, &:focus {
                        background: $orange;
                    }
                }
            }

        }

        /**************
        Dashboard Search
        **************/
        .panel-search {
            background: url('/theme/img/bg.gif') repeat #eef0e9;
            padding: 20px 0px 8px;
            .button {
                background: $cyan;
                padding-left: 0px;
                padding-right: 0px;
                min-width: 75px;
            }
            a {
                margin-top: 25px;
                float: right;
                i {
                    padding-left: 5px;
                }
            }
            .search-info {
                display: table;
                margin-top: -2px;
                margin-left: 20px;
                .table-cell {
                    display: table-cell;
                    vertical-align: middle;
                }
                .search-results {
                    color: #999999;
                    line-height: 1;
                    font-size: 0.785rem;
                    strong {
                        color: #666666;
                    }
                    a {
                        float: left;
                        margin-top: 0px !important;
                    }
                }
            }
        }

        /**************
        Dashboard Datagrid
        **************/
        .panel-datagrid {
            table {
                border: 0px !important;
                margin-top: 10px;
                thead {
                    background: none;
                    border-bottom: 2px solid #D3D3D3 !important;
                    th {
                        background: none;
                        font-size: 0.75rem;
                        font-weight: bold;
                        color: #9F9F9F;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        a {
                            color: #9F9F9F;
                        }
                    }

                }
                tbody {
                    tr {
                        height: 80px;
                        border-bottom: 1px solid #D3D3D3;
                        background: #fff !important;
                        td {
                            font-family: $lato;
                            font-size: 0.875rem;
                            &:first-of-type {
                                font-size: 1rem;
                            }
                            .type-amtrak {
                                color: $green;
                            }
                            .type-featured {
                                color: $cyan;
                            }
                            .type-comunity {
                                color: $blue;
                            }

                            .button {
                                font-size: 1rem;
                                margin-bottom: 0px;
                                min-width: 120px;
                                text-transform: capitalize !important;
                                padding: 0.475rem 1rem 0.5375rem;
                                &.btn-approved, &.btn-published {
                                    background: #00DD69;
                                }
                                &.btn-pending, &.btn-draft {
                                    background: #fff;
                                    color: $gray;
                                    border: 1px solid #CBCBCB !important;
                                }
                                &[data-dropdown] {
                                    i {
                                        font-size: 9px;
                                        margin-left: 10px ;
                                        margin-top: 7px;
                                        float: right;
                                    }
                                }
                            }

                            .f-dropdown {
                                li{
                                    text-align: left;
                                    .js-confirm {
                                        color: #999999;
                                        border-top: 1px solid #cbcbcb;
                                        i {
                                            padding-right: 5px;
                                        }
                                    }
                                }
                            }

                            &.table-actions {
                                text-align: center;
                                a {
                                    margin-left: 5px;
                                    margin-right: 5px;
                                    i {
                                        font-size: 1.2rem;

                                    }
                                }
                            }
                            &.title-event {
                                a {
                                    color: #222222;
                                    &:hover {
                                        color: #222222;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        &:hover {
                            background: #f9f9f9 !important;
                        }
                    }
                }
            }
            ul.pagination {
                .current {
                    a {
                        background: $blue !important;
                    }
                }
            }
        }


        /***********************
        Events
        ************************/
        .panel-content {
            min-height: 152px;
            .panel-name-event, .panel-name-page {
                padding-top: 0px;
                padding-left: 16px;
                h3 {
                    margin-top: 8px !important;
                    font-family: $lato;
                    color: $blue;
                }
                a {
                    font-family: $lato;
                    margin-left: 0.875rem;
                }
                .event-timing {
                    min-width: 180px;
                    max-width: 180px;
                    text-align: center;
                    p {
                        background-color: $blue;
                        color: $cyan;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                }
                .page-description {
                    color: #FFF;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }

            .btn-event-status {
                margin-top: 10px;
                margin-bottom: 10px;
                .button {
                    padding: 0.475rem 1rem 0.5375rem;
                    margin-bottom: 9px;
                    text-transform: capitalize !important;
                    font-size: 1rem;
                    background: #fff;
                    opacity: 1;
                    min-width: 125px;
                    &.secondary {
                        text-transform: capitalize !important;
                    }
                    &.approved {
                        color: $green;
                    }
                }
            }

            .btn-view-event, .btn-preview {
                font-size: 0.75rem;
                color: $blue;
                text-decoration: underline;
            }
        }

        .subcontent {
            margin-bottom: 1.5rem;
            background: $cyan;
            dl.tabs {
                dd {
                    a {
                        padding: 0.675rem 1.35rem;
                        background: $cyan;
                        font-family: $lato;
                        font-size: 0.75rem;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: bold;
                    }
                    &.active {
                        a {
                            background: #fff;
                            color: $blue;
                        }
                    }
                }
            }
        }

        .section-title {
            h5 {
                font-family: $oswald;
                color: $blue;
                font-size: 1.5rem;
                margin-bottom: 0px;
                line-height: 1;
            }
            h3 {
                margin-top: 0px;
                font-family: $lato;
                font-size: 0.875rem;
                color: $gray;
                font-weight: bold;
            }
        }

        form {

            ul.images-orbit {
                margin-bottom: 20px !important;
                li {
                    cursor: pointer;
                    .wapper-active {
                        display: none;
                    }
                    &[data-selected] {
                        border: 2px solid $blue;
                        .wapper-active {
                            display: block;
                            height: 20px;
                            background: $blue;
                            color: #fff;
                            width: 100%;
                            text-align: right;
                            padding: 0px 10px;
                            position: absolute;
                            bottom: 0px;
                            i {
                                margin-top: 3px;
                                float: right;
                            }
                        }
                    }
                }
            }

            .btn-delete-event, .btn-delete-content {
                font-size: 0.875rem;
                margin-top: 10px;
                float:left;
            }
            label {
                small {
                    font-size: 0.75rem;
                    font-weight: normal;
                    text-transform: lowercase;
                    color: #9f9f9f;
                }
            }
            .section-title {
                margin-top: 50px !important;
                margin-bottom: 20px;
                &:first-of-type {
                    margin-top: 20px !important;
                }
            }
            .form-buttons {
                margin-top: 40px !important;
                .button {
                    min-width: 110px;
                    text-align: center;
                    margin-left: 20px;
                }
            }

            .item-sponsor, .item-file {
                margin-bottom: 10px !important;
                padding-top: 10px;
                .btn-del-sponsor, .btn-del-file {
                    font-size: 0.75rem;
                    text-decoration: underline;
                    color: $gray;
                    i {
                        margin-top: 20px;
                        font-size: 1.3rem;
                        color: $gray;
                    }
                    .i_patterns {
                        margin-top: 3px !important;
                        font-size: 2rem;
                        color: $gray;
                    }
                }

                .btn-del-file_other{
                    margin-top: 0px !important;
                    i{
                        margin-top: 0px !important;
                    }
                }
            }

            .file-upload_patterns{
                border-bottom: 1px #EAE9E9 solid !important;
            }

            #btn_cancel_add_file{
                display: none;
            }

            .file-upload {
                .drag_button{
                     background: url("/theme/img/drag.gif") center center;
                     width: 30px;
                     height: 125px;
                     margin: 0 0 0 0.5rem;
                     cursor: hand;
                }

                .logo_content{
                    //width: calc(30% - 40px) !important;*/
                }

                .inputs_content{
                    //width: 71.3% !important;
                }

                min-height: 46px;

                .button.upload {
                    width: 100%;
                    margin-left: -1px;
                    margin-top: 5px;
                    cursor: pointer !important;
                    line-height: 0.1 !important;
                    i {
                        padding-right: 5px;
                    }
                }
                .button.button-link {
                    padding: 0px !important;
                    text-decoration: underline;
                    background: none !important;
                    text-transform: none !important;
                    color: $gray;
                    &:hover {
                        color: #000;
                    }
                }
                .js-upload, .js-upload[disabled] {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0;
                    opacity: 0;
                    -ms-filter: 'alpha(opacity=0)';
                    font-size: 1.125rem;
                    direction: ltr;
                    cursor: pointer;
                }
                .file-upload-input {
                    a.js-confirm {
                        background-color: #fff;
                        height: 30px;
                        position: absolute;
                        right: 0.5rem;
                        top: 0px;
                        width: 30px;
                        line-height: 0px;
                        i {
                            margin-top: 8px;
                            color: $gray;
                        }
                    }
                }
                .text_namefile{
                    font-size: 0.875rem !important;
                }
                .file-upload-link_patterns{
                    margin-top: -4px;
                    a {
                        font-size: 0.875rem !important;
                        &.js-confirm {
                            color: #999;
                            margin-left: 20px;
                            &:hover {
                                color: $gray;
                            }
                        }
                    }
                }
                .file-upload-link {
                    margin-top: -4px;
                    a {
                        font-size: 0.875rem !important;
                        &.js-confirm {
                            color: #999;
                            margin-left: 20px;
                            &:hover {
                                color: $gray;
                            }
                        }
                    }
                }
                .file-upload-button {
                    margin-top: -10px;
                    .columns{
                        min-width: 100px !important;
                    }
                }

                div.th {
                    &.th-logo {
                        height: 125px;
                        max-height: 125px;
                        line-height: 110px;
                        width: 100%;
                        img {
                            line-height: 125px;
                            max-height: 117px;
                        }
                    }
                }
            }

            .fca-template {
                .fca-type {
                    font-size: 0.675rem;
                    color: $color-label;
                    font-weight: 400;
                }
                .box {
                    width: 120px;
                    border: 1px solid #CBCBCB;
                    height: 120px;
                    margin: 0 auto;
                    cursor: pointer;
                    background: #f2f2f2;
                    line-height: 90px;
                    img {
                       max-width: 100px;
                    }
                    p {
                        font-family: $oswald;
                        font-weight: bold;
                        font-size: 1rem;
                        color: $gray;
                        line-height: 105px;
                    }
                    .wapper-active {
                        display: none;
                    }
                    &.active {
                        border: 2px solid $blue;
                        p {
                            line-height: 100px;
                        }
                        .wapper-active {
                            display: block;
                            height: 20px;
                            background: $blue;
                            color: #fff;
                            width: 116px;
                            text-align: right;
                            padding: 0px 10px;
                            position: absolute;
                            bottom: 0px;
                            i {
                                margin-top: 0px;
                                float: right;
                            }
                        }
                    }
                }
            }

            .fca-wrapper {
                border: 1px solid #CBCBCB;
                background: #f2f2f2;
                padding: 0px 0px 20px;
                .fca-arrow {
                    li {
                        i {
                            display: none;
                        }
                        &.active {
                            i {
                                display: inline-block;
                                position: absolute;
                                top: -15px;
                                color: #f2f2f2;
                                text-shadow: -1px 0 #f2f2f2, 0 1px #CBCBCB, 1px 0 #CBCBCB, 0 -1px #CBCBCB;
                            }
                        }
                    }
                }
            }


        }

        .reveal-modal {
            &.extra-large {
                width: 98% !important;
                max-width: 2000px;
            }
            h2 {
                font-family: $lato !important;
            }
            .close-reveal-modal {
                font-size: 1rem;
                top: 1.5rem;
                right: 1.875rem;
                margin-right: 0 !important;
                i {
                    padding-top: 3px;
                }
            }
            .panel-slider-container {
                background: url("/theme/img/banner2.png") center center;
                background-size: cover;
                min-width: 100%;
                height:500px;
                /*
                .vertical-align-container{
                    display: table;
                    height: 500px;
                    width: 100%;
                    .vertical-align-content {
                        display: table-cell;
                        vertical-align: middle;
                        height: 500px;
                        width: 100%;
                        max-width: 100%;
                    }
                }*/
                .panel-slider-content {
                    .columns {
                        padding-left: 0.9375rem !important;
                        padding-right: 0.9375rem !important;
                    }

                    h3, h3 p {
                        font-family: $oswald;
                        //font-size: 60px;
                        color: #016A96;
                        line-height: 58px;

                        p {
                            font-size: 60px;
                            line-height: 58px;
                            margin-bottom: 0px;

                        }
                    }
                    h5 {
                        margin-bottom: 20px;
                        padding-top: 25px;
                    }
                    h5, h5 p {
                        color: #fff;
                        font-weight: bold;
                        font-family: $lato;
                        font-size: 15px;
                        line-height: 22px;
                        p {
                            font-size: 15px;
                            line-height: 1 !important;
                            //margin: 0px 0px 20px;
                            //padding-top: 25px;
                            margin: 0px 0px 2px;
                            padding-top: 2px;
                        }
                    }

                    img {
                        max-width: 380px;
                        max-height: 240px;
                    }
                    iframe {
                        min-height: 400px;
                    }

                    .button {
                        font-family: $lato;
                        font-weight: 700;
                        background: $cyan;
                        font-size: 0.875rem;
                        height: 40px;
                        padding-top: 11px;
                        &:hover {
                            background: $blue;
                        }
                    }
                }
            }
            &.modal-reasons {
                color: #FFF !important;
                line-height: 1.6 !important;
                margin-bottom: 1.25rem !important;
                text-rendering: optimizelegibility !important;

                font-size: 26px !important;
                font-weight: 700 !important;

                h3, h3 p {
                    font-family: $oswald;
                    color: #FFF !important;
                    font-size: 26px !important;
                    p {
                        font-size: 26px !important;
                        line-height: 24px;
                        margin-bottom: 0px;
                    }
                }

                h5, h5 p {
                    color: #FFF !important;
                    font-family: $lato;
                    font-size: 18px !important;
                    font-weight: 400 !important;
                    line-height: 1.6 !important;
                    p {
                        color: #fff;
                        font-size: 18px !important;
                        font-weight: 400 !important;
                        line-height: 1.6 !important;
                        margin: 20px 0px;
                    }
                }
            }
        }

        .panel-slider-general {
            height: 645px;
            .slick-prev,.slick-next {
                position: absolute !important;
                top: 35%;
                padding: 21px 5px;
                color: transparent !important;
                background: transparent !important;
                opacity: 0.7;
                &:hover {
                    opacity: 1;
                }
            }
            .slick-next {
                right: 0px;
                background: url("/theme/img/right.png") no-repeat center center !important;
            }
            .slick-prev {
                background: url("/theme/img/left.png") no-repeat center center !important;
                max-width: 43px;
            }
            .slick-slide {
                padding: 0px;
            }
        }
    }
}

@media #{$medium-up} {
    body {
        .tob-bar {
            .top-bar-section {
                ul {
                    li {
                        border-top: 0px;
                        border-left: 3px solid #164D81;
                        &.active {
                            border-top: none;
                            border-left: 3px solid #fff;
                        }
                        &:hover {
                            border-left: 3px solid #fff;
                            border-top: none;
                        }
                    }
                }
                ul#info-user {
                    li {
                        &:hover {
                            border-left: 3px solid #164D81 !important;
                            border-top: none;
                        }
                    }
                }
            }
        }
    }
}

@media #{$large-up} {
    body {

        .fca-template {
            .fca-type {
                font-size: 0.8rem !important;
            }
        }

        .panel-slider-container {
            .vertical-align-container{
                display: table;
                height: 500px;
                width: 100%;
                .vertical-align-content {
                    display: table-cell;
                    vertical-align: middle;
                    height: 500px;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }

    }
}
